<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
    <div class="container">
        <header th:replace="fragments/header :: header"></header>
        <div th:replace="fragments/top-menu :: top-menu"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form th:action="@{/registry}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label><i class="fa fa-user color-gray"></i> Имя пользователя</label>
                        <input type="text" class="form-control" th:field="*{username}"  placeholder="Введите имя пользователя">
                        <small class="text-danger" th:each="err: ${#fields.errors('username')}" th:text="${err}"></small>
                        <small th:each="message : ${errorMessages}" class="text-danger" th:text="${message}"></small>
                    </div>
                    <div class="form-group">
                        <label><i class="fa fa-lock color-gray"></i> Пароль</label>
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Введите пароль">
                        <small class="text-danger" th:each="err: ${#fields.errors('password')}" th:text="${err}"></small>
                    </div>
                    <div class="form-group">
                        <label><i class="fa fa-lock color-gray"></i> Повторите пароль</label>
                        <input type="password" class="form-control" th:field="*{matchingPassword}" placeholder="Повторите пароль">
                        <small class="text-danger" th:each="err: ${#fields.errors('matchingPassword')}" th:text="${err}"></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    <!--<div th:replace="fragments/js-scenarios :: js-scenarios"></div>-->
</body>
</html>
